/* header styling */

.header-div {
    text-align: right;
    float: right;
}

.header-div h1 {
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.header-div h3 {
    font-family: Verdana;
}

.header-div h2 {
    float: right;
    font-family: Times;
}

.scale-img {
    width: 100%;
}

.logo {
    width: 100px;
    padding: 15px;
}

/* center section styling */

hr {
    color: #7d97ad;
    border: solid 2px #7d97ad;
}

.center-img-container {
    height: 350px;
    overflow: hidden;
}

.featured-work {
    color: grey;
}

p {
    font-family: Verdana;
}

/* row of projects styling */

.proj-img {
    width: 100%;
}

.proj-title {
    text-align: center;
    color: #2d3c49;
}

.proj-title h2 {
    font-family: "Trebuchet MS";
}

.proj-title a {
    font-family: Verdana;
    color: inherit;
}